[submodule "Bandit_Algorithms"]
	path = Bandit_Algorithms
	url = https://github.com/Sagarnandeshwar/Bandit_Algorithms.git
[submodule "COMP-579-Reinforcement-Learning"]
	path = COMP-579-Reinforcement-Learning
	url = https://github.com/ycYiwei/COMP-579-Reinforcement-Learning.git
[submodule "multi-armed-bandit"]
	path = multi-armed-bandit
	url = https://github.com/bakanaouji/multi-armed-bandit.git
[submodule "waymo-open-dataset"]
	path = waymo-open-dataset
	url = https://github.com/waymo-research/waymo-open-dataset.git
[submodule "Deep-Reinforcement-Learning-for-Automated-Stock-Trading-Ensemble-Strategy-ICAIF-2020"]
	path = Deep-Reinforcement-Learning-for-Automated-Stock-Trading-Ensemble-Strategy-ICAIF-2020
	url = https://github.com/Jung132914/Deep-Reinforcement-Learning-for-Automated-Stock-Trading-Ensemble-Strategy-ICAIF-2020.git
[submodule "DRQN_Stock_Trading"]
	path = DRQN_Stock_Trading
	url = https://github.com/conditionWang/DRQN_Stock_Trading.git
[submodule "gym-anytrading"]
    path = gym-anytrading
    url = https://github.com/AminHP/gym-anytrading.git